VITE_API_BASE_URL=https://xxxxx
VITE_WS_URL=wss://xxxx/ws

# TPMS Server
VITE_USE_BACKEND=true

# TPMS API Key (minta ke backend team)
VITE_TPMS_API_KEY=WGMs8xxx

# TPMS Endpoints
VITE_API_TPMS_REALTIME_ENDPOINT=https://tpms.solonet.net.id/api/tpms/realtime
VITE_API_TPMS_LOCATION_ENDPOINT=https://tpms.solonet.net.id/api/tpms/location